body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: linear-gradient(to right, #193192, #38acca);
    height: 100vh;
    width: 100%;
}
.all-contants{
    width: 500px;
    margin: auto;
}

.textA{
   width: 100%;
   padding: 12px;
   margin: 15px 0px;
   font-size: 18px;
   outline: none;
   border: none;
}
   
.notcompl{

}
.task{
    background: rgba(255,255,255,0.6);
    padding: 12px;
    margin-bottom: 10px;
}
.task i{
    float: right;
    margin-right: 10px;
    transition: all .1s;
}
.task i:hover {
  color: rgb(255, 102, 0);
}

.compl .task{
  background-color: white;
}

.notcompl h3{
   font-size: 30px;
   font-weight: 700;
   text-transform: capitalize;
   color:white;
   margin-top: 16px;

}

.compl h3{
   font-size: 30px;
   font-weight: 700;
   text-transform: capitalize;
   color:white
}